/* Map height explicitly to define the size of the div containing the map. */
#map_canvas { 
    height: 100%;
    float: left;
    height: 100%;
    width: 79%;
    box-sizing: border-box;
    border: 1px solid black;
}
#content-window {
    float: left;
    height: 25%;
    line-height: 30px;
    padding-left: 10px;
    width: 19%;
    white-space: nowrap; 
    overflow: auto;
    text-overflow: ellipsis;
    box-sizing: border-box;
    border: 1px solid black;
}
#content-window2 {
    float: left;
    height: 25%;
    line-height: 30px;
    padding-left: 10px;
    width: 19%;
    box-sizing: border-box;
    border: 1px solid black;
}
#sidebar {
    float: left;
    height: 50%;
    line-height: 30px;
    padding-left: 10px;
    width: 19%;
    box-sizing: border-box;
    border: 1px solid black;
    overflow:auto;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
#info-box {
    background-color: white;
    border: 1px solid black;
    position: absolute;
        bottom: 5px;
        left: 5px;
    height: 10px;
    padding: 10px;
    font-size: 12pt;
}

.dropdown {
    position: absolute;
        top: 12px;
        left: 130px;
    display: inline-block;
}



.dropbtn {
    background-color: #000000;
    color: white;
    padding: 10px;
    font-size: 12px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #00ff00;
}

.dropdown-content {
    display: none;                  /*Oculta el menu desplegable*/
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content p {
    font-size: 12px;
    color: black;
    padding: 10px 10px;             /*alto y ancho de cada <a>*/
    text-decoration: none;
    display: block;
}

.dropdown p:hover {
    background-color: #ddd;       /*Color de fondo al pasar por encima de cada <a>*/
}

.show {display: block;}

.imagen{
    margin: 0;
    display:inline-block;
    height: 20px;
    float: none;
}